.body {
    -fx-background-color: black;
    -fx-min-width: 340.0px;
    -fx-min-height: 200.0px;
    -fx-max-width: 340.0px;
    -fx-max-height: 200.0px;
}

.tag {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: bottom-center;
    -fx-min-width: 40.0px;
    -fx-min-height: 30.0px;
    -fx-max-width: 40.0px;
    -fx-max-height: 30.0px;
}

.h-group {
    -fx-padding: 0.0 0.0 0.0 10.0px;
}

.btn-group {
    -fx-alignment: center;
    -fx-padding: 10.0px 0.0 0.0 10.0px;
}
