.text {
    -fx-text-fill: white;
    -fx-prompt-text-fill: whitesmoke;
}

.input {
    -fx-background-color: transparent;
    -fx-min-width: 80.0px;
    -fx-min-height: 30.0px;
    -fx-max-width: 80.0px;
    -fx-max-height: 30.0px;
    -fx-alignment: bottom-center;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: white;
    -fx-cursor: default;
}

.drop-list {
    -fx-background-color: transparent;
    -fx-fill: transparent;
    -fx-min-width: 80.0px;
    -fx-min-height: 150.0px;
    -fx-max-width: 80.0px;
    -fx-max-height: 150.0px;
    -fx-orientation: null;
}

.li {
    -fx-fill: transparent;
    -fx-alignment: center;
    -fx-min-width: 80.0px;
    -fx-min-height: 20.0px;
    -fx-max-width: 80.0px;
    -fx-max-height: 20.0px;
}

.li:hover {
    -fx-background-color: rgba(115.0,115.0,115.0,0.6);
}

.text:hover {
    -fx-text-fill: red;
    -fx-prompt-text-fill: rgba(215.0,47.0,47.0,0.9);
}